@{
    ViewData["Title"] = "Consumer Privacy is a Joke.";
}
<h1>@ViewData["Title"]</h1>


<p>
    <b>If you didn't read this before buying or viewing our products, that's your own problem.
    Interacting with this website gives us the full right to:</b><br>
    1. Completely steal your identity.<br>
    2. Rename your children<br>
    3. Rehome your current family pet (or sell it, depending on how we feel that day.)<br>
    4. Use your credit card information to plan a trip or two.<br>
</p>
<p>Please don't make us do it to you. Just let our garbage products be enough, okay?</p>
